mat-grid-tile {
    background: lightblue;
}

.ant-row{
    display: flex;
    flex-flow: row wrap;
    /* min-height: 65vh !important; */
    row-gap: 24px;
    margin: 20px;
    align-self: center;
    
}

.coin-card {
    display: block;
    margin: 8px;
    background-color: beige;
    color: black;
    border-radius: 4px;
    min-width: 250px;
    max-width: 250px;
    height: 200px;
    
} 
.ant-card-hoverable {
    border: 1px solid rgb(184, 171, 127);
    cursor: pointer;
    transition: box-shadow .9s,border-color .9s ,opacity .5s, border .8s;
    opacity: 0.8;
}
.ant-card-hoverable:hover {
    cursor: pointer;
    opacity: 1;
    border: 1px solid yellow;
    background-color: whitesmoke;
}
.coin-card-container{
    
}
.coin-card-body{
    display: flex
}
.coin-card-header{
    padding: 8px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid black ;
    /* justify-content:space-between; */
}
.coin-card-body{
    margin-top: 20px;
    display: block;
    padding: 8px;
}
.crypto-image{
    width: 25px;
}
.header-title{
    flex: 1 1;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.progress-indicator-container{
    height: 100vh;
}
.progress-indicator{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    scale: 0.75;
    
}
