<div *ngIf="!coins" class="progress-indicator-container">
    <div class="progress-indicator">
        <mat-spinner></mat-spinner>
    </div>
    
</div>
<div class="ant-row" *ngIf="coins">
    <div *ngFor="let coin of coins">
        <div class="coin-card ant-card-hoverable">
            <div (click)="navigate(coin.id)">
                <div class="coin-card-container">
                    <div class="coin-card-header">
                        <div class="header-title">
                            <h3 style="margin: 0px;">
                                {{coin.name}}
                            </h3>
                        </div>
                      
                        <div >
                            <img class="crypto-image" src={{coin.iconUrl}}>
                        </div>
                    </div>
                    <div class="coin-card-body">
                        <p>Price: {{coin.price}} USD</p>
                        <p>Market Cap: {{coin.marketCap}}</p>
                        <p>Daily Change: {{coin.change}}  %</p>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>