<mat-sidenav-container>
    <mat-sidenav #sidenav  class="sidenav" mode="side" [opened]="true">
        <div class="logo-container">
            <div class="avatar-logo" style="background-image: url(../assets/media/cryptocurrency.png);">
               
            </div>
            <div class="logo-typo">
                CoinSeeker
            </div>
            
        </div> 
        <nav>
            <h1 routerLink="/home" class="navigator"> Home </h1>
            <h1 routerLink="/coins" class="navigator"> Coins </h1>
            <h1 routerLink="/markets" class="navigator"> Markets </h1>
            <h1 routerLink="/exchanges" class="navigator"> Exchanges </h1>
        </nav>
        

    </mat-sidenav>
    <div #content class="sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
