<mat-sidenav-container class="drawer-container" >
    <mat-sidenav #sidenav  class="sidenav" mode="side" [opened]="true">
        <div class="logo-container">
            <div class="avatar-logo" style="background-image: url(../assets/media/cryptocurrency.png);">
               
            </div>
            <div class="logo-typo">
                CoinSeeker
            </div>
            
        </div> 
        <nav>
            <h1 routerLink="/home"> Home </h1>
            <h1 routerLink="/coin/8"> Coins </h1>
            <h1 routerLink="/markets"> Markets </h1>
            <h1 > Global Stats </h1>
            <h1 router="/exchanges"> Exchanges </h1>
        </nav>
        

    </mat-sidenav>
    <div #content class="sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
