/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family:verdana ;background-color: #e6f7ff;}
footer{
    height: 40px;
     background-color: darkblue; 
     color: aliceblue;
     align-items: center;
     display: flex;
     justify-content: center;
}
